{% extends 'StefDagVanDeWeekBundle::layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <ul class="list-inline list-unstyled">
                <li class="col-md-1"><a style="display: block;" href="/maandoverzicht-januari">januari</a></li>
                <li class="col-md-1"><a style="display: block;" href="/maandoverzicht-februari">februari</a></li>
                <li class="col-md-1"><a style="display: block;" href="/maandoverzicht-maart">maart</a></li>
                <li class="col-md-1"><a style="display: block;" href="/maandoverzicht-april">april</a></li>
                <li class="col-md-1"><a style="display: block;" href="/maandoverzicht-mei">mei</a></li>
                <li class="col-md-1"><a style="display: block;" href="/maandoverzicht-juni">juni</a></li>
                <li class="col-md-1"><a style="display: block;" href="/maandoverzicht-juli">juli</a></li>
                <li class="col-md-1"><a style="display: block;" href="/maandoverzicht-augustus">augustus</a></li>
                <li class="col-md-1"><a style="display: block;" href="/maandoverzicht-september">september</a></li>
                <li class="col-md-1"><a style="display: block;" href="/maandoverzicht-oktober">oktober</a></li>
                <li class="col-md-1"><a style="display: block;" href="/maandoverzicht-november">november</a></li>
                <li class="col-md-1"><a style="display: block;" href="/maandoverzicht-december">december</a></li>
            </ul>
        </div>
    </div>

    <div class="row">
        <article class="col-sm-9 maincontent">
            <header class="page-header">
                <h1 class="page-title">{{ page.title }}</h1>
            </header>

            <p>
                De maand {{ dutchMonthName }} kent een aantal historische gebeurtenissen en bijzondere (feest)dagen. In het onderstaande <strong>overzicht van {{ dutchMonthName }}</strong> zie je ons gehele overzicht.
            </p>

            {% if specialDates|length > 0 %}
                {% include 'StefSimpleCmsBundle:GoogleAdsense:728x90.html.twig' with {'pubid': 'ca-pub-1143505562670221', 'slotid': '4350506819'} %}


                <h2>Feestdagen & themadagen {{ dutchMonthName }}</h2>

                <p> Voor de maand {{ dutchMonthName }} hebben wij maar liefst {{ specialDates|length }} dag(en) gevonden!
                    <ol>
                        {% for specialDate in specialDates %}
                            <li>{{ specialDate.description }}</li>
                        {% endfor %}
                    </ol>
                </p>
            {% endif %}

            {% include 'StefSimpleCmsBundle:GoogleAdsense:728x90.html.twig' with {'pubid': 'ca-pub-1143505562670221', 'slotid': '4350506819'} %}

            <h2>Gebeurtenissen {{ dutchMonthName }}</h2>

                {% if histories|length > 0 %}
                    <p>
                        Wat gebeurde er allemaal in de maand {{ dutchMonthName }}? Lees, kijk en leer op DagVanDeWeek!
                        Wij hebben hard gewerkt om onderstaande lijst met gebeurtenissen op te stellen. Kijk snel in het overzicht en spring terug in de tijd.
                    </p>

                    {% for history in histories %}
                        <h3><a href="{{ path('stef_dag_van_de_week_history_article_show', {'slug': history.slug, 'day': '%02d'|format(history.day), 'month': '%02d'|format(history.month), 'year': history.year}) }}">({{ history.year }}) {{ history.title }}</a></h3>
                        <p>{{ history.description }}</p>
                    {% endfor %}

                {% else %}
                    <p>Gek genoeg hebben we nog niks geschreven over {{ dutchMonthName }}. Eigenlijk is het een schande, maar kom snel terug en wie weet dat we je binnenkort wel meer kunnen vertellen over {{ dutchMonthName }}.</p>
                {% endif %}


            {% include 'StefSimpleCmsBundle:GoogleAdsense:728x90.html.twig' with {'pubid': 'ca-pub-1143505562670221', 'slotid': '4350506819'} %}

        </article>

        <aside class="col-sm-3 sidebar sidebar-right">
            <h4>Bekijk {{ dutchMonthName }}</h4>

            <p class="small text-muted">
                Hieronder staan alle dagen van de maand {{ dutchMonthName }}! Als je meer wilt weten over een bepaalde dag in {{ dutchMonthName }} kan je er gewoon op klikken.
            </p>
            {% include 'StefDagVanDeWeekBundle:Month:right-sidebar.html.twig' %}
        </aside>


    </div>
{% endblock %}