{% extends 'StefaniusDagVanDeWeekBundle::layout.html.twig' %}

{% block content %}
    <div class="row">
        <article class="col-sm-9 maincontent">
            <header class="page-header">
                <h1 class="page-title">{{ page.title }}</h1>
            </header>

            <a href="http://partnerprogramma.bol.com/click/click?p=1&t=url&s=38915&url=http%3A//www.bol.com/nl/m/koken-tafelen/kerstkookwinkel/index.html&f=BAN&name=Kerst kookwinkel 2015" target="_blank"><img src="http://www.bol.com/nl/upload/images/banners/cross/feestdagen2015/kerst/kerst_kerstkoken_151205_728x90.jpg" width="728" height="90" alt="Kerst kookwinkel 2015"  /></a><img src="http://partnerprogramma.bol.com/click/impression?p=1&s=38915&t=url&f=BAN&name=Kerst kookwinkel 2015" width="1" height="1" />

            <p>Geen heden zonder verleden, maar zonder het heden kan je een toekomst ook wel vergeten. Dit was de inspiratie voor de reeks <strong>Vandaag in het verleden</strong>. Vandaag leven we in het jaar {{ date.year }}. Verder is het vandaag de {{ date.monthNumber }}e maand, een maand die wij als {{ date.translatedMonthName }} kennen.</p>
            <p>Vandaag is het om precies te zijn: <strong>{{ date.translatedWeekdayName }} {{ date.day }} {{ date.translatedMonthName }} {{ date.year }}</strong>. In de meeste agenda's kunnen we zien dat het deze week <strong>week {{ date.weekNumber }}</strong> is.</p>

            {% include 'StefSimpleCmsBundle:GoogleAdsense:728x90.html.twig' with {'pubid': 'ca-pub-1143505562670221', 'slotid': '4350506819'} %}

            {% if histories|length > 0 %}
                <h2>Het verleden van {{ date.day }} {{ date.translatedMonthName }}</h2>
                <p>
                    Wij hebben speciaal voor jou een kleine selectie op een rijtje gezet! Laat ons weten wat je van de teksten vind of geef het aan als onze teksten niet kloppen met de werkelijkheid. Ondanks onze grote zorg om goede teksten te schrijven, gaat het soms wel eens mis.
                </p>

                <ul>
                    {% for history in histories %}
                        <li><a href="{{ path('stef_dag_van_de_week_history_article_show', {'slug': history.slug, 'day': '%02d'|format(history.day), 'month': '%02d'|format(history.month), 'year': history.year}) }}">({{ history.year }}) {{ history.title }}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <h2>Verleden onbekend</h2>
                <p>Natuurlijk is het verleden van vandaag gigantisch en zijn er onwerkelijke dingen gebeurd op een dag als deze. Maar wij hebben nog niet de tijd gehad om alles uit te pluizen. Wellicht dat wij voor morgen meer in petto hebben!</p>
            {% endif %}


            {% include 'StefSimpleCmsBundle:GoogleAdsense:728x90.html.twig' with {'pubid': 'ca-pub-1143505562670221', 'slotid': '4350506819'} %}
        </article>
    </div>

{% endblock %}