{% import 'StefaniusDagVanDeWeekBundle:Macro:localized.html.twig' as localized %}

<ul class="calendar-container">

        {% set month = calendr_month(year, monthNumber) %}

                <li>
                <div class="calendar-wrapper">

                <h3>Maand {{ localized.date(month.begin, "MMMM") }}</h3>
                <table>
                    <tr>
                        <th>MA</th>
                        <th>DI</th>
                        <th>WO</th>
                        <th>DO</th>
                        <th>VR</th>
                        <th>ZA</th>
                        <th>ZO</th>
                        <th class="weeknumber">#</th>
                    </tr>
                {% for week in month %}

        <tr>
            {% for day in week %}
                <td>
                    <a href="/{{ day.begin.format("d") }}-{{ dutchMonthName }}" title="Geschiedenis {{ day.begin.format("d") }} {{ dutchMonthName }}">{{ day.begin.format("d") }}</a>
                </td>
            {% endfor %}
            <td class="weeknumber">{{ week.number }}</td>
        </tr>


    {% endfor %}
        </div>
        </li>
        </table>

</ul>